<% include ../partials/header %>

<div class="container">
<div class="confirm-wrap">
<h1 class="text-center">THANK YOU!</h1>
<div class="confirm-check text-center">
<i style="font-size:60px;" class="fa fa-check text-center"></i>
</div>

<h3 class="text-center">We have your received your email, Please expect a response in 24-48 hours</h3>
<p class="text-center"><strong>Please DO NOT refresh the page</strong></p>

<p class="text-center">Lawrence,</p>
<p class="text-center">Founder, Mind of A Millennial</p>
</div>
</div>

<% include ../partials/footer %>