<footer class="footer">
  	<div class="container text-center">
    <a href="https://www.twitter.com/_law92" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/mindofamillennial" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="mailto:mofamillennial@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="/privacy">Privacy Policy</a>
  	</div>
	</footer>
	
     <!-- SOCIAL ICONS -->


<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>