<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121335497-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121335497-1');
</script>

<% include ../partials/header %>

<div class="container">
<h1 id="aboutus-header" class="text-center">ABOUT US</h1>
<hr>
<p>We are dedicated to bringing you an opinion on topics like you've never heard before. <strong><u>Unfiltered</u>, <u>no filler</u>, <u>straight to the point</u></strong>. We keep it informative but at the same time interesting to read without putting you to sleep. We cover a broad range of topics from music to sports to advice and fashion with everything in between.</p>
<p>Want to hear the opinion of millennials? Or maybe you're a millennial yourself and you can relate. We say what you may be thinking or scared to say. If that is what you are looking for then you came to the right place.</p>
<p>Check us out! You won't be disappointed.</p>
<hr>
<h1 class="text-center">OUR TEAM</h1>
 <p class="text-center">MEET A TEAM MEMBER</p>
 <hr>
 <div class="row">
  <div class="col-md-4">
    <a href="about/ayannasoleil" class="thumbnail">
      <img src="/images/img-1-AS.jpeg" alt="ayannasoleil_image">
    </a>
    </div>
      <div class="col-md-4">
    <a href="about/nomascus" class="thumbnail">
      <img src="/images/img-1-BG.jpg" alt="briangibbons_image">
    </a>
    </div>
      <div class="col-md-4">
    <a href="about/ralphieblack" class="thumbnail">
      <img src="/images/img-2-CT.jpg" alt="christhompson_image">
    </a>
    </div>
  </div>
  
  <div class="row">
  <div class="col-md-4">
    <a href="about/gindiesel" class="thumbnail">
      <img src="/images/img-1-DP.JPG" alt="danepierre_image">
    </a>
    </div>
      <div class="col-md-4">
    <a href="about/hotshot" class="thumbnail">
      <img src="/images/img-2-EB.jpg" alt="errolbraithwaite_image">
    </a>
    </div>
    
      <div class="col-md-4">
    <a href="about/law92" class="thumbnail">
      <img src="/images/img-1-LT.JPG" alt="lawrencethomas_image">
    </a>
    </div>
  </div>
  
  <div class="row">
  <div class="col-md-4">
    <a href="about/bachi" class="thumbnail">
      <img src="/images/img-2-RC.JPG" alt="ronoakes_image">
    </a>
    </div>
      <div class="col-md-4">
    <a href="about/tbent92" class="thumbnail">
      <img src="/images/img-2-TB.jpg" alt="travisbent_image">
    </a>
    </div>
      <div class="col-md-4">
    <a href="about/wackodestroyer" class="thumbnail">
      <img src="/images/img-1-KH.jpg" alt="keithhaywoodjr_image">
    </a>
    </div>
  </div>
  
    
  <div class="row">
  <div class="col-md-4">
    <a href="about/mlope" class="thumbnail">
      <img src="/images/img-1-ML.jpeg" alt="melissalopez_imaage">
    </a>
    </div>
    </div>
    
    <!--
     <div class="col-md-4">
    <a href="about/hotshot" class="thumbnail">
      <img src="/images/img-2-EB.jpg" alt="errolbraithwaite_image">
    </a>
    </div>
    
      <div class="col-md-4">
    <a href="about/law92" class="thumbnail">
      <img src="/images/img-1-LT.JPG" alt="lawrencethomas_image">
    </a>
    </div>
  </div>
  
  -->
  
  
  
</div>


<% include ../partials/footer %>